.wrapper {
  display: flex;
}

.side_bar {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.side_bar_header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create_room a{
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
  border: 1px solid lightblue;
  padding: 14px;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room_name a{
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.chat_header {
  height: 100px;
  padding: 0 40px;
}

.messages {
height: calc(100vh - 190px);
background-color: #fafafa;
padding: 40px 40px 0;
}

.form {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}

